{# 下面是AR的命令格式 #}
{#snmp-agent mib-view {{ mib_view }} include {{ mib_incloude }}#}
{# 下面是CE的命令格式 #}
snmp-agent mib-view included {{ mib_view }} {{ mib_incloude }}
acl number {{ acl_config.acl_number }}
  {% for acl in  acl_config.rules %}
  rule {{ acl.rule_id }} permit source {{ acl.network }} {{ acl.wildcard_mask }}
  {% endfor %}
snmp-agent community read {{ snmp_community }} mib-view {{ mib_view }} acl {{ acl_config.acl_number }}
snmp-agent sys-info version v2c
snmp-agent protocol source-status all-interface
snmp-agent
{# CE 要加commit #}
commit
