aaa
{% for user in users %}
    undo local-user {{ user.username }}
    local-user {{ user.username }} password irreversible-cipher {{ user.password }}
    {# 如果用户存在, 配置privilege level会有 Y/N的提升 -#}
{#    local-user {{ user.username }} privilege level {{ user.priv }}-#}
{# CE 没有privilege level而是level,并且级别最多只有3级 -#}
    local-user {{ user.username }} level {{ user.priv }}
    local-user {{ user.username }} service-type {{ user.services | join(' ') }}
{% endfor %}
{# CE 要加commit #}
commit
