Value SOFT_VERSION (\d+\.\d+)
Value HARD_VERSION (\w+\s+\w+)
Value BOARD_TYPE (\S+)
Value MEM_SIZE (\d+)
Value FLASH_SIZE (\d+)

Start
  ^VRP \(\w+\) software, Version ${SOFT_VERSION} \(${HARD_VERSION}\) -> Continue
  ^Memory    Size\s+:\s+${MEM_SIZE}\s+M bytes -> Continue
  ^Flash     Size\s+:\s+${FLASH_SIZE}\s+M bytes -> Continue
  ^\d\.\s+Board\s+Type\s+:\s+${BOARD_TYPE} -> Continue
