Value SOFT_VERSION (\d+\.\d+)
Value HARD_VERSION (\w+\s+\w+)
Value BOARD_TYPE (\S+)
Value MEM_SIZE (\d+)
Value FLASH0_SIZE (\d+)
Value FLASH1_SIZE (\d+)

Start
  ^VRP \(\w+\) software, Version ${SOFT_VERSION} \(${HARD_VERSION}\) -> Continue
  ^SDRAM Memory Size\s+:\s+${MEM_SIZE}\s+M bytes -> Continue
  ^Flash 0 Memory Size\s+:\s+${FLASH0_SIZE}\s+M bytes -> Continue
  ^Flash 1 Memory Size\s+:\s+${FLASH1_SIZE}\s+M bytes -> Continue
  ^\d\.\s+Board\s+Type\s+:\s+${BOARD_TYPE} -> Continue